<h1>Listing</h1>
        <%= link_to 'Sell', '/listings/sell', method: :get , class: "btn btn-success"%>
<ul>
<% @listings.each do |item|%>
    <li><%= item.title%> (<%= item.description%>)</li>
 <% end %>
 </ul>