<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Kids Recycle</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%if current_user != nil%>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class:"btn btn-danger" %>
      <%else%> 
        <%= link_to 'Login', '/users/sign_in', method: :get , class: "btn btn-success"%>
      <%end%>     
    </ul>
  </div>
</nav>